*{
  margin: 0;
  box-sizing: border-box;
}

.user{
  background-color: aliceblue;
  color: rebeccapurple;
  border-radius: 10px;
  min-height: 100px;
  font-size: 14px;
  padding: 4px;
  margin: 4px;
}